// Navigation Styles here
.container {
    .nav-bar {
        .navigation {
            width:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20.5px 0;
        }

        h1 {
            
        }
        nav {
           
            a {
                font-family: 'Roboto', sans-serif;  
                text-decoration: none;
                color: black;
                font-size: 1.5rem;
                padding: 2rem 2.2rem;
            }
        }
    }
}